h2{
  text-align: center;
  line-height: 24px;
  font-size: 1.5em;
  padding: 20px 0;
}
.head_border{
  display: flex;
  align-items: center;
}
.head_border strong{
  font-weight: bold;
  color: #000;
}
.head_border span{
  margin: 0 3px;
}
.head_border a:last-child{
  cursor: default;
  color: rgba(0, 0, 0, 0.87);
}

header, .head_border,
main .box{
  border: 1px solid #EEEEEE;
  width: 1220px;
  margin: 0 auto;
}
main{
  margin: 15px 0;
}
main .box{
  padding: 8px;
  box-sizing: border-box;
}

main h3{
  font-size: 1.17em;
  line-height: 20px;
  padding: 14px 0;
  font-weight: bold;
}
main .box .box_ul{

  padding: 12px 0 12px 20px;
}
main .box .box_ul ul{
  padding-left: 20px;
}
main .box .box_ul li{
  display: list-item;
  list-style-type: disc;
  margin-bottom: 10px;
}
main .box .box_ul a{
  font-size: 14px;
  color: rgb(51, 51, 51);
  cursor: pointer;
  text-decoration: underline;
  line-height: 21px;
}
main .box .box_ul a:hover{
  color: #337ab7;
}